{% load static %}
{% load bootstrap_icons %}

{% block course_list %}
<div class="container" id="specific-div">

    <div class="row">
        <div class="col-12 mx-auto">
            <div class="panel panel-default border">
                <div class="panel-heading ps-3">
                    <h3 class="panel-title border-bottom pb-2"> {% bs_icon 'pencil' %} <span class="Add_Course">Edit Courses</span></h3>
                </div>

                <!-- tabs display -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <button class="nav-link text-secondary active" onclick="OpenCourse(event, 'Add_Course')" aria-current="page" id="defaultOpen">Add Course</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link text-secondary" onclick="OpenCourse(event, 'tech_stack')">Technology Stack</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link text-secondary" onclick="OpenCourse(event, 'course_curriculum')">Course Curriculum</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link text-secondary" onclick="OpenCourse(event, 'course_fees')">Course Fees</button>
                    </li>
                </ul>
                <!-- tabs display end -->

                <!-- Add Course -->
                <div class="panel-body bg-white px-3 py-3 tabcontent" id="Add_Course" style="display: block;">
                    <form id="courseForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_Title">Course Name</label>
                            <div>
                                <input type="text" name="Title" id="id_Title" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_Description">Description</label><br>
                            {{ form.Description }}
                        </div>

                        <div class="form-group relative">
                            <label for="id_Technologies">Topics</label>
                            <div id="technologiesContainer">
                                <input type="text" name="Technologies" id="id_Technologies" class="form-control input-field" autocomplete="off">
                            </div>
                            <button type="button" onclick="addTechnologyField()" class="btn btn-sm btn-success mt-2 absolute btn-div">
                                <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg class="plus-img" height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path class="plus" d="M417.4,224H288V94.6c0-16.9-14.3-30.6-32-30.6c-17.7,0-32,13.7-32,30.6V224H94.6C77.7,224,64,238.3,64,256  c0,17.7,13.7,32,30.6,32H224v129.4c0,16.9,14.3,30.6,32,30.6c17.7,0,32-13.7,32-30.6V288h129.4c16.9,0,30.6-14.3,30.6-32  C448,238.3,434.3,224,417.4,224z"/></svg>
                            </button>
                        </div>

                        <div class="form-group">
                            <!-- <label for="id_Images">Banner Images</label> -->
                            <input type="file" name="images" onchange="checkFileSize(this)" accept="image/*" id="id_Images">
                        </div>

                        <!-- <div class="form-group">
                            <label for="status">Status</label>
                            {{ form.status }}
                        </div> -->
                        <button type="button" onclick="InsertCourses()" class="btn btn-primary">Submit</button>
                        <!-- <button type="button" onclick="nextButtonClick()" class="btn btn-primary">Next</button> -->
                    </form>
                </div>
                <!-- Add course end -->

                <!-- Technology Stack start -->
                <div class="panel-body bg-white px-3 py-3 tabcontent" id="tech_stack" style="display: none;">
                    <form id="courseForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_description_tech_stack">Description</label>
                            <textarea id="id_description_tech_stack" name="Description" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="images_tech_stack">Images</label>
                            <input type="file" name="images" id="images_tech_stack" accept="images/*" class="form-control-file" onchange="checkFileSize(this)">
                        </div>

                        <!-- <button type="button" class="btn btn-primary">Submit</button> -->
                    </form>
                </div>
                <!-- Technology Stack end -->

                <!-- Add course_curriculum -->
                <div class="panel-body bg-white px-3 py-3 tabcontent" id="course_curriculum" style="display: none;">
                    <form id="courseForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title_curriculum">Course Curriculum</label>
                            <div>
                                <input type="text" name="Title" id="title_curriculum" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="technologies_curriculum">Weeks</label>
                            <input type="text" name="Technologies" id="technologies_curriculum" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="id_description_curriculum">Description</label>
                            <textarea id="id_description_curriculum" name="Description" class="form-control"></textarea>
                        </div>

                        <!-- <button type="button" class="btn btn-primary">Submit</button> -->
                    </form>
                </div>
                <!-- Add course_curriculum end -->

                <!-- Add course_fees -->
                <div class="panel-body bg-white px-3 py-3 tabcontent" id="course_fees" style="display: none;">
                    <form id="courseForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title_fees">Course Fees</label>
                            <div>
                                <input type="text" name="Title" id="title_fees" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_description_fees">Description</label>
                            <textarea id="id_description_fees" name="Description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="technologies_fees">Level Type</label>
                            <input type="text" name="Technologies" id="technologies_fees" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="duration_fees">Duration</label>
                            <input type="text" name="Technologies" id="duration_fees" class="form-control" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label for="level_description_fees">Level Type Description</label>
                            <textarea id="level_description_fees" name="Description" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="images_fees">Logo</label>
                            <input type="file" name="images" id="images_fees" accept="images/*" class="form-control-file" onchange="checkFileSize(this)">
                        </div>

                        <!-- <button type="button" onclick="InsertCourses()" class="btn btn-primary">Submit</button> -->
                    </form>
                </div>
                <!-- Add course_fees end -->
            </div>
        </div>
    </div>
</div>
{% endblock %}