{% extends 'Admin_Login_App/base.html' %}
{% load static %}
{% load bootstrap_icons %}

<!-- title -->
{% block title %} Courses {% endblock %}

<!-- Link css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/course_list.css' %}">
<link rel="stylesheet" href="{% static 'css/course_page.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

{% endblock %}

<!-- link js -->
{% block link_js %}

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}" async></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}" async></script>

{% endblock %}

<!-- header -->
{% block header %}
{% include 'Admin_Login_App/Admin_Header.html' %}
{% endblock %}

<!-- body content -->
{% block content %}

<div class="container-fluid">
    <div class="row bg-body-tertiary">

        <!-- side navbar -->

        {% block sidenavbar %}

        {% include 'Admin_Login_App/Side_Navbar.html' %}

        {% endblock %}

        <!-- navbar -->
        <div class="col-10 pb-5" style="background-color: #f6f6f6;">
            <div class="row">

                {% block navbar %}

                <div id="navbar-content">

                    {% include 'Admin_Login_App/navbar.html' %}

                </div>

                {% endblock %}


                {% block course_list %}

                <div id="course-content">
                    <!-- This is where the course content will be displayed -->

                    {% include 'Admin_Login_App/course_list.html' %}

                </div>
                {% endblock %}


            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    function checkFileSize(input) {
        const file = input.files[0];
        if (file && file.size > 2 * 1024 * 1024) { // 2 MB limit
            alert("File size exceeds 2 MB");
            input.value = ""; // Clear the input
            return;
        }
        previewImage(input);
    }

    function previewImage(input) {
        const file = input.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('imagePreview').src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }

    // v1
    // Function to check all checkboxes
    function checkAll() {
        var checkboxes = document.querySelectorAll('.check');
        var checkallCheckbox = document.getElementById('checkall');

        checkboxes.forEach(function (checkbox) {
            checkbox.checked = checkallCheckbox.checked;
        });
    }

    function loadCoursePage() {
        loadNavbarPage()
        // Specify the URL from which to fetch the new content
        const url = "{% url 'course_page' %}";

        // Fetch content from the URL using the provided URL
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(html => {
                // Replace the HTML content of a specific div with the fetched data
                document.getElementById('course-content').innerHTML = html;
                CKEDITOR.replace('id_Description');
            })
            .catch(error => console.error('Fetch error:', error));
    }

    function loadNavbarPage() {
        // Specify the URL from which to fetch the new content
        const url = "{% url 'navbar_save_course' %}";

        // Fetch content from the URL using the provided URL
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(html => {
                // Replace the HTML content of a specific div with the fetched data
                document.getElementById('navbar-content').innerHTML = html;
            })
            .catch(error => console.error('Fetch error:', error));
    }

    function loadNavbarViewPage() {
        // Specify the URL from which to fetch the new content
        const url = "{% url 'navbar_view_course' %}";

        // Fetch content from the URL using the provided URL
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(html => {
                // Replace the HTML content of a specific div with the fetched data
                document.getElementById('navbar-content').innerHTML = html;
            })
            .catch(error => console.error('Fetch error:', error));
    }


    // Function to initialize CKEditor for a specific tab
    function initializeCKEditor(tabId) {
        // Get all textarea elements within the specified tab
        var textareas = document.querySelectorAll(`#${tabId} textarea`);
        textareas.forEach(textarea => {
            var editor = CKEDITOR.replace(textarea.id);
            editor.on('instanceReady', function () {
                textarea.style.display = 'none'; // Hide original textarea after CKEditor is initialized
            });
        });
    }

    // Function to switch tabs and initialize CKEditor for the newly active tab
    function OpenCourse(evt, courseId) {
        var i, tabcontent, tablinks;

        // Hide all tab contents and deactivate all tab links
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("nav-link");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }

        // Display the content of the selected tab and activate its link
        document.getElementById(courseId).style.display = "block";
        evt.currentTarget.classList.add("active");

        // Initialize CKEditor for the newly displayed tab
        initializeCKEditor(courseId);
    }


    function updateCoursePage(url) {
        loadNavbarPage() // Fetch content from the URL using the provided URL fetch(url)
        console.log(url)
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(html => {
                // Replace the HTML content of a specific div with the fetched data
                document.getElementById('course-content').innerHTML = html;
                CKEDITOR.replace('id_Description');
                const courseId = document.getElementById('specific-div').getAttribute('data-course-id');
                console.log(courseId)
                UpdateCourses(courseId)
            })
            .catch(error => console.error('Fetch error:', error));
    }

    function viewCoursePage(url) {
        loadNavbarViewPage(); // Fetch content from the URL using the provided URL fetch(url)
        console.log(url);
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(html => {
                // Replace the HTML content of a specific div with the fetched data
                document.getElementById('course-content').innerHTML = html;
                // CKEDITOR.replace('id_Description');
                const courseId = document.getElementById('specific-div').getAttribute('data-course-id');
                console.log(courseId);
                fetchData(courseId);
            })
            .catch(error => console.error('Fetch error:', error));

        // view function
    }

    async function fetchData(courseId) {
        console.log("ding");
        console.log(courseId);
        try {
            const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZXhwIjoxNzE5MDQwNTM0LCJpYXQiOjE3MTkwMzY5MzR9.fS7bbykObcbfRRHX4ASsDb0Wpi6M1GtN8PzV48Ec2E0';

            const response = await fetch(`/api/courses/${courseId}/`, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const data = await response.json();
            data.Description = data.Description.replace(/<\/?[^>]+(>|$)/g, "");
            data.Technologies = data.Technologies.replace(/,+/g, ',').replace(/^,|,$/g, '');
            displayDataInForm(data);
        } catch (error) {
            console.error('Error fetching data:', error);
            document.getElementById('data').innerText = 'Error fetching data';
        }
    }

    function displayDataInForm(data) {
        const form = document.getElementById('data-form');
        form.innerHTML = '';

        const fields = ['Title', 'Description', 'Technologies', 'Images'];
        fields.forEach(field => {
            if (data.hasOwnProperty(field)) {
                const label = document.createElement('label');
                label.setAttribute('for', field);
                label.innerText = field;

                if (field === 'Images') {
                    const img = document.createElement('img');
                    img.src = data[field];
                    img.alt = 'course image';
                    img.height = 50;
                    img.width = 50;
                    form.appendChild(label);
                    form.appendChild(img);
                } else if (field === 'Description') {
                    const textarea = document.createElement('textarea');
                    textarea.setAttribute('id', field);
                    textarea.setAttribute('name', field);
                    textarea.setAttribute('rows', 10);
                    textarea.setAttribute('readonly', true);
                    textarea.value = data[field];
                    form.appendChild(label);
                    form.appendChild(textarea);

                } else {
                    const input = document.createElement('input');
                    input.setAttribute('type', 'text');
                    input.setAttribute('id', field);
                    input.setAttribute('name', field);
                    input.setAttribute('value', data[field]);
                    input.setAttribute('readonly', true);
                    form.appendChild(label);
                    form.appendChild(input);
                }

                form.appendChild(document.createElement('br'));
            }
        });
    }

    // Insert course api

    async function InsertCourses() {
        try {
            // Get form data
            const title = document.getElementById('id_Title').value;
            const description = CKEDITOR.instances.id_Description.getData();
            const technologyInputs = document.getElementsByName('Technologies');
            let technologies = [];
            for (let i = 0; i < technologyInputs.length; i++) {
                technologies.push(technologyInputs[i].value);
            }
            const images = document.getElementById('id_Images').files[0];
            const status = document.getElementById('id_status').checked;

            // Construct form data
            const formData = new FormData();
            formData.append('Title', title);
            formData.append('Description', description);
            formData.append('Technologies', technologies.join(','));
            formData.append('Images', images);
            formData.append('status', status);

            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZXhwIjoxNzE5MDQwNTM0LCJpYXQiOjE3MTkwMzY5MzR9.fS7bbykObcbfRRHX4ASsDb0Wpi6M1GtN8PzV48Ec2E0';
            const response = await fetch(`/api/courses/`, {
                method: 'POST',
                headers: {
                    "X-CSRFToken": csrfToken,
                    "Authorization": `Bearer ${token}`
                },
                body: formData
            });

            if (!response.ok) {
                const errorText = await response.text();
                console.error('Error status:', response.status);
                console.error('Error text:', errorText);
                throw new Error('Network response was not ok');
            }

            const data = await response.json();
            console.log('Success:', data);
            alert('Course created successfully!');
            window.location.href = `/courses`;

        } catch (error) {
            console.error('There was a problem with the fetch operation:', error);
        }
    }


    async function UpdateCourses(courseId) {

        console.log("welcome")
        try {
            // Get form data
            const titleElement = document.getElementById('id_Title');
            const title = titleElement ? titleElement.value : null;

            console.log(title)

            const description = CKEDITOR.instances.id_Description ? CKEDITOR.instances.id_Description.getData() : null;

            console.log(description)

            const technologyInputs = document.getElementsByName('Technologies');

            console.log(technologyInputs)
            let technologies = [];
            for (let i = 0; i < technologyInputs.length; i++) {
                console.log(technologyInputs.length)
                technologies.push(technologyInputs[i].value);
            }

            console.log(technologies)

            const imagesElement = document.getElementById('id_Images');
            const images = imagesElement && imagesElement.files.length > 0 ? imagesElement.files[0] : null;

            console.log(images)

            // const statusElement = document.getElementById('id_status');
            // const status = statusElement ? statusElement.checked : false;

            if (title === null || description === null || technologies.length === 0) {
                throw new Error('Required form elements are missing');
            }

            // Construct form data
            const formData = new FormData();
            formData.append('Title', title);
            formData.append('Description', description);
            formData.append('Technologies', technologies.join(','));
            if (images) {
                formData.append('Images', images);
            }
            // formData.append('Status', status);

            const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZXhwIjoxNzE5MDQwNTM0LCJpYXQiOjE3MTkwMzY5MzR9.fS7bbykObcbfRRHX4ASsDb0Wpi6M1GtN8PzV48Ec2E0';
            const response = await fetch(`/api/update_courses/${courseId}/`, {
                method: 'PUT',
                headers: {
                    'Authorization': `Bearer ${token}`
                },
                body: formData
            });

            if (!response.ok) {
                const errorData = await response.json();
                console.error('Error details:', errorData);
                throw new Error('Network response was not ok');
            }

            const data = await response.json();
            console.log('Success:', data);
            alert('Course updated successfully!');
            window.location.href = `/courses`;

        } catch (error) {
            console.error('There was a problem with the fetch operation:', error);
        }
    }

    async function deleteCourse() {
        let marked = document.querySelectorAll('input[type="checkbox"]:checked');
        let ids = Array.from(marked).map(checkbox => checkbox.value);

        if (ids.length === 0) {
            alert('No courses selected for deletion.');
            return;
        }

        let confirmation = confirm(`Are you sure you want to delete this course(s)?`);
        if (!confirmation) {
            return;
        }

        try {
            let failedDeletions = [];

            for (let i = 0; i < ids.length; i++) {
                let id = ids[i];
                if (id === 'on') {
                    ids.splice(i, 1);
                    i--;
                    continue;
                }

                const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZXhwIjoxNzE5MDQwNTM0LCJpYXQiOjE3MTkwMzY5MzR9.fS7bbykObcbfRRHX4ASsDb0Wpi6M1GtN8PzV48Ec2E0';
                const response = await fetch(`/api/delete_courses/${id}`, {
                    method: 'DELETE',
                    headers: {
                        'Authorization': `Bearer ${token}`,
                        'Content-Type': 'application/json'
                    }
                });

                if (!response.ok) {
                    failedDeletions.push(id);
                }
            }

            if (failedDeletions.length > 0) {
                console.error('Failed to delete courses with IDs:', failedDeletions);
                alert(`Failed to delete courses with IDs: ${failedDeletions.join(', ')}`);
            } else {
                alert(`Successfully deleted ${ids.length} course(s)!`);
            }

            window.location.href = '/courses';
        } catch (error) {
            console.error('There was a problem with the fetch operation:', error);
        }
    }


    // dynamically add and remove field for topics field

    let techCounter = 1;

    function addTechnologyField() {
        var container = document.getElementById("technologiesContainer");

        var div = document.createElement("div");
        div.className = "input-group mt-2 relative input-div";
        div.id = "techDiv_" + techCounter;

        var input = document.createElement("input");
        input.type = "text";
        input.name = "Technologies";
        input.className = "form-control input-field";
        input.id = "id_Technologies_" + techCounter;
        techCounter++;
        div.appendChild(input);

        var removeButton = document.createElement("button");
        removeButton.type = "button";
        removeButton.className = "btn btn-sm btn-danger ml-2 cancel-btn";

        // Create the SVG element
        var svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
        svg.setAttribute("width", "16");
        svg.setAttribute("height", "16");
        svg.setAttribute("viewBox", "0 0 512 512");
        svg.setAttribute("fill", "#fff");

        // Create the SVG path
        var path = document.createElementNS("http://www.w3.org/2000/svg", "path");
        path.setAttribute("d", "M417.4,224H94.6C77.7,224,64,238.3,64,256c0,17.7,13.7,32,30.6,32h322.8c16.9,0,30.6-14.3,30.6-32  C448,238.3,434.3,224,417.4,224z"); // Example SVG path for a cross symbol

        svg.appendChild(path);
        removeButton.appendChild(svg);

        removeButton.onclick = function () {
            container.removeChild(div);
        };
        div.appendChild(removeButton);

        container.appendChild(div);
    }

    // function getTechnologiesValues() {
    //     var container = document.getElementById("technologiesContainer");
    //     var inputs = container.getElementsByTagName("input");
    //     var values = [];
    //     for (var i = 0; i < inputs.length; i++) {
    //         values.push(inputs[i].value);
    //     }
    //     console.log(values); // Output the values to the console
    //     // You can now use `values` array as needed
    // }

</script>
{% endblock %}