{% load static %}
{% load bootstrap_icons %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/view_course.css' %}">
{% endblock %}

{% block course_list %}
<div class="container" id="specific-div" data-course-id="{{ datas.id }}">

    <div class="row">
        <div class="col-12 mx-auto">
            <div class="panel panel-default border">
                <div class="panel-heading ps-3">
                    <h3 class="panel-title border-bottom pb-2"> {% bs_icon 'eye-fill' %} <span class="Add_Course">View
                            Courses</span></h3>
                </div>
                <div class="panel-body bg-white px-3 py-3">
                    <form id="data-form">
                        <!-- Form fields will be dynamically generated here -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<script>
    // setTimeout(fetchData(),3000)
    async function fetchData() {
        console.log("ding")
        try {
            const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZXhwIjoxNzE5MDQwNTM0LCJpYXQiOjE3MTkwMzY5MzR9.fS7bbykObcbfRRHX4ASsDb0Wpi6M1GtN8PzV48Ec2E0';
            const courseId = `{{ datas.id }}`;
            console.log(courseId);
            const response = await fetch(`/api/courses/${courseId}/`, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const data = await response.json();
            displayDataInForm(data);
        } catch (error) {
            console.error('Error fetching data:', error);
            document.getElementById('data').innerText = 'Error fetching data';
        }
    }

    function displayDataInForm(data) {
        const form = document.getElementById('data-form');
        form.innerHTML = '';

        for (const key in data) {
            if (data.hasOwnProperty(key)) {
                const label = document.createElement('label');
                label.setAttribute('for', key);
                label.innerText = key;

                const input = document.createElement('input');
                input.setAttribute('type', 'text');
                input.setAttribute('id', key);
                input.setAttribute('name', key);
                input.setAttribute('value', data[key]);
                input.setAttribute('readonly', true);

                form.appendChild(label);
                form.appendChild(input);
                form.appendChild(document.createElement('br'));
            }
        }
    }

    window.onload = fetchData;    
</script> -->
{% endblock %}