.form-group {
    margin-bottom: 10px;
}

.Add_Course {
    font-size: 16px;
    font-weight: 400;
}

.input-field {
    width: 95% !important;
    margin-bottom: 20px;
    height: 40px;
    /* margin-top: 10px; */
}

.form-control:focus {
    color: #212529;
    background-color: #fff !important;
    border-color: none;
    outline: 0;
    box-shadow: 0 0 0 .25rem #fff !important;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.btn-div {
    right: 0px;
    top: 18px;
    width: 4%;
    height: 34px;
}

.cancel-btn {

    right: -10px;
    top: -26px;
    margin-top: 3%;
    width: 4%;
    height: 34px;

}

.input-div {
    width: 99% !important;
}

.django-ckeditor-widget {
    width: 100%;
}

.plus {
    fill: #fff;
}

.plus-img {
    height: 18px;
    width: 16px;
}