/* course list */

td .btn-class {
    color: #ffffff;
    background-color: #1e91cf;
    border-color: #1e91cf;
}

td .btn-class:hover {
    color: #ffffff;
    background-color: #1e91cf;
    border-color: #1e91cf;
}

.text-center {
    width: 1%;
}

/* enble and disable style */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin: 10% 35%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(14px);
}

/* edit button style */

.edit-button , .action-button{
    background: none;
    border: none;
    cursor: pointer;
    margin: 15% 10% 0 10%;
}

.edit-button {
    color: #f4990b;
}

.action-button {
    color: #007bff;
}
.edit-button:hover {
    color: #d79632; 
}

.action-button:hover {
    color: #0056b3;
}

/* 
.action-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
}
.action-button:hover {
    color: #0056b3;
} */